.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

@font-face {
  font-family: 'Tulpen One';
  src: URL('TulpenOne-Regular.ttf') format('truetype');
}

.tuplen {
  font-family: 'Tulpen One', sans-serif;
}

ul {
  list-style: initial;
  padding: revert;
}